streamlit
pandas
fpdf
ydata-profiling==4.6.4
streamlit-pandas-profiling
pycaret
scikit-learn
matplotlib
seaborn
htmlmin
kaleido
pure_eval
tangled-up-in-unicode
tenacity
threadpoolctl
toml
tornado
traitlets
typing_extensions
urllib3
watchdog
wcwidth
xxhash
zipp
phik==0.12.3
